@font-face {
  font-family: 'coolAssFont';
  src: url('fonts/coolAssFont.woff2') format('woff2'),
       url('fonts/coolAssFont2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'coolAssFont', sans-serif;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: grey;
  cursor: none;
}

.hidden {
  display: none;
}
.content-box {
  margin-top: 10px;
  padding: 15px;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.toggle-btn {
  background-color: black;
  color: white;
  border-color: white;
}

.toggle-btn:hover {
  color: yellow;
  transform: translateY(-3px);
  box-shadow: 
}
