.hidden {
  display: none;
}
.content-box {
  margin-top: 10px;
  padding: 15px;
  background-color: #222;
  border-radius: 5px;
}

.research-text {
color: white;
font-family: 'coolAssFont', sans-serif;
}

@font-face {
  font-family: 'coolAssFont';
  src: url('fonts/coolAssFont.woff2') format('woff2'),
       url('fonts/coolAssFont2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
